* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background: #232332;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  min-width: 5rem;
  min-height: 2.5rem;
  background: crimson;
  margin: 0.5rem;
}

section {
  background: #e8e8e8;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

section + section {
  margin-top: 2rem;
}

.display {
  background: #ccc;
  display: flex;
}

.height-3 {
  height: 8rem;
}

.height-5 {
  height: 15rem;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}
